@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin alignAllCenter {
    align-items: center;
    justify-content: center;
}

@mixin button {
    background-color: $black;
    color: $white;
    border: 0px;
}

@mixin ctaButton() {
    background-color: $black;
    color: $white;
    border: 0px;
    font-weight: 700;
    padding: 1.5rem;
    border-radius: 9999px;
}
