@mixin noPadding() {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}

@mixin fontSize($size) {
    font-size: $size;

    @media screen and (max-width: 1366px) {
        font-size: calc(#{$size} * 2);
    }

    @media screen and (max-width: 768px) {
        font-size: calc(#{$size} * 3);
    }

    @media screen and (max-width: 576px) {
        font-size: calc(#{$size} * 3);
    }
}

h1,
h2,
h3,
h4,
h5 {
    @include noPadding();
    font-weight: 700;
}

h1 {
    @include fontSize($h1-size);
}

h2 {
    @include fontSize($h2-size);
}

h3 {
    @include fontSize($h3-size);
}

h4 {
    @include fontSize($h4-size);
}

h5 {
    @include fontSize($h5-size);
}

p {
    @include noPadding();
}

.text-base {
    @include fontSize($text-base);
}

.text-xs {
    @include fontSize($text-xs);
}

.text-sm {
    @include fontSize($text-sm);
}

.text-md {
    @include fontSize($text-md);
}

.text-lg {
    @include fontSize($text-lg);
}

.text-xl {
    @include fontSize($text-xl);
}

.text-2xl {
    @include fontSize($text-2xl);
}

.text-3xl {
    @include fontSize($text-3xl);
}

.text-4xl {
    @include fontSize($text-4xl);
}

.secondary {
    color: $text-accent;
}

.font-bold {
    font-weight: 700;
}

.font-regular {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.font-extralight {
    font-weight: 200;
}
