@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,700&display=swap");
@import "variables";
@import "typography";
@import "spacing";
@import "mixins";
@import "resume";

* {
    color: $text-primary;
    background-color: $white;
    font-family: $font-family;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
}

.button {
    @include button;
}

.hero-button {
    @include ctaButton;
}

.hero-img {
    width: 50%;
}

.rounded-full {
    border-radius: 9999px;
}

.bg-dark {
    background-color: $black;
}

// Media queries for smaller screens
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .hero-img {
        width: 20%;
        position: static;
        transform: none;
    }
}

@media only screen and (max-width: 576px) {
    main {
        flex-direction: column;
    }
    .hero-img {
        width: 20%;
        position: static;
        transform: none;
    }
}
