@use "sass:math";

.card {
    display: block;
    padding: $base-padding;
    border-top: $base-border-thickness solid $cream;
    color: $cream;

    .card-title {
        font-size: $font-size-lg;
        font-weight: bold;
        padding-bottom: $base-padding;
        color: $cream;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card-body {
        font-size: $base-font-size;
        color: $light;
        a {
            text-decoration: underline;
        }
    }
}

@media (max-width: 576px) {
    .card {
        display: none;
    }
}
