@use "sass:math";

.card {
    display: block;
    padding: $base-padding;
    border-top: $base-border-thickness solid #000000;
    color: $light;

    .card-title {
        font-size: $font-size-lg;
        font-weight: bold;
        padding-bottom: $base-padding;
        color: $light;
    }

    .card-body {
        font-size: $base-font-size;
        color: $black;

        a {
            text-decoration: underline;
        }
    }
}
